/*

!/.gitignore

!/.gnupg/
/.gnupg/*
!/.gnupg/*.conf

# sloppy
!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/cargo/
/.local/share/cargo/*
!/.local/share/cargo/config.toml
!/.local/share/cargo/binstall.toml
# !/.local/share/cargo/clippy.toml

!/.config/
/.config/*

# CLI / TUI
!.config/gdu/
!.config/fish/
.config/fish/source
!.config/paru/
!.config/htop/
!.config/tealdeer/
!.config/direnv/

!.config/yazi/
.config/yazi/*/

!.config/git/
.config/git/*
!.config/git/config

!.config/lazygit/
.config/lazygit/*
!.config/lazygit/config.yml
!.config/lazydocker/
.config/lazydocker/*
!.config/lazydocker/config.yml

!.config/helix/

!.config/nvim/
.config/nvim/*
!.config/nvim/lua/
!.config/nvim/after
!.config/nvim/init.lua
!.config/nvim/README.md
!.config/nvim/lazy-lock.json

# GUI
!.config/hypr/
!.config/mako/
!.config/kitty/
!.config/waybar/
!.config/udiskie/
!.config/gf2_config.ini

# Media
!.config/mpv/
!.config/pipewire/
!.config/speech-dispatcher/

# Misc
# !.config/user-dirs.locale
!.config/logseq-flags.conf

!/.config/tridactyl/
/.config/tridactyl/*
!.config/tridactyl/tridactylrc
