* {
  border: none;
  min-height: 0;
  border-radius: 0;
  font-size: 16px;
  font-weight: 600;
  font-family: HackNerdFont;
}

window#waybar {
  color: #FFFFFF;
  background: #2B2A33;
}


#workspaces button {
  padding: 0 3px;
}

#workspaces button.active {
  background-color: #446688;
}

#submap {
  margin-left: 4px;
  padding: 0 5px;
  background-color: #882222;
}

#tray,
#bluetooth,
#network,
#network.eth,
#cpu,
#memory,
#disk,
#wireplumber,
#custom-microphone,
#backlight,
#language,
#custom-plugged,
#battery,
#custom-clock {
  margin: 0 3px;
  padding: 0 3px;
}

#bluetooth,
#network,
#network.eth {
  border-bottom: 1px solid #EE99EE;
}

#bluetooth {
  margin-left: 6px;
}

#network.eth {
  margin-right: 6px;
}

#cpu,
#memory,
#disk,
#custom-plugged,
#battery {
  border-bottom: 1px solid #44CC44;
}

#cpu {
  margin-left: 6px;
}

#battery {
  margin-right: 6px;
}

#wireplumber,
#custom-microphone,
#backlight,
#language {
  border-bottom: 1px solid #BBCCFF;
}

#wireplumber {
  margin-left: 6px;
}

#language {
  margin-right: 6px;
}


#custom-plugged {
  margin-right: 0;
  padding-right: 0;
  border-right: 0;
}

#battery {
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}

#battery.warning,
#custom-microphone.muted,
#wireplumber.muted {
  background-color: #886600;
}

#battery.critical,
#custom-microphone.unknown {
  background-color: #880000;
}

#custom-clock {
  margin-right: 0;
}