"$schema" = "https://yazi-rs.github.io/schemas/keymap.json"

[mgr]
prepend_keymap = [
  # { on = "<C-y>", run = "plugin wl-clipboard", desc = "Yank to clipboard" },
  { on = "<C-y>", run = 'shell -- for path in "$@"; do echo "file://$path"; done | wl-copy -t text/uri-list' },

  { on = "R", run = "rename --empty=stem --cursor=start", desc = "Rename file full" },
  { on = [
    "g",
    "d",
  ], run = "cd ~/documents", desc = "Goto ~/documents" },

  { on = "<A-s>", run = "search --via=rga", desc = "Search files by content via ripgrep-all" },
]
